<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	 <system.webServer>
 <rewrite>
 <rules>
 <rule name="Redirect to www" stopProcessing="true">
 <match url=".*" />
 <conditions>
 <add input="{HTTP_HOST}" pattern="^bluesun.house$" />
 </conditions>
 <action type="Redirect" url="https://www.bluesun.house/{R:0}"
 redirectType="Permanent" />
 </rule>
     <rule name="Main Rule" stopProcessing="true">
         <match url=".*" />
         <conditions logicalGrouping="MatchAll">
             <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
             <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
         </conditions>
         <action type="Rewrite" url="index.php/?url={R:0}" />
     </rule>
    </rules>
  </rewrite>
 </system.webServer> 
</configuration>
